*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
.container{
    margin: 0 10%;
}

.h-container{
    margin:0 5%;
}
.heros{
    height: 85vh;
    background: #F0C53E;
}
.hero{
    display: flex;
    height: 80vh;
    align-items: center;
}
.h-left{
    width: 40%;
    z-index: 1;
}
.h-left h1{
    font-size: 5.4rem;
}
.h-left p{
    font-size: 2.4rem;
    padding: 30px 0;
}
.h-left a{
    font-size: 2.4rem;
    text-decoration: none;
}


.h-left i{
    position:relative;
    font-size: 6rem;
    color: #fff;
    top: 15px;
    left: 20px;
    margin-right: 25px;
}
.bgwave{
    z-index: 0;
    position: relative;
    top: -320px;
}

.h-right{
    width: 60%;
    height: 80%;
    padding: 30px;
    background: url(../images/h-l-bg.png);
    background-repeat: no-repeat;
    background-size: 700px 650px;
    background-position: right;
    z-index: 1;
}
.k250{
    display: flex;
    width: 300px;
    height: 100px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;

    position: relative;
    left: 200px;
    top: 120px;
    
}
.k250 i{
    font-size: 5rem;
    margin: 15px 0 15px 20px;
    padding: 10px;
    border-radius: 10px;
    background: #EE5060;
    color: #fff;
}
.k250-text{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    justify-content: center;
}
.h-right h3{
    font-size: 2.4rem;
    font-weight: bold;
}
.h-right p{
    font-size: 2rem;
}
.u-trips{
    display: flex;
    width: 320px;
    height: 150px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    position: relative;
    top: 320px;
    left: 250px;
    backdrop-filter: blur(20px);
}
.u-trips i{
    font-size: 5rem;
    margin: 15px 0 60px 20px;
    padding: 10px;
    border-radius: 10px;
    background: #EE5060;
    color: #fff;
}
.u-t-text{
    display: flex;
    flex-direction: column;
    margin: 15px 0 20px 20px;

}
.u-t-text a{
    padding: 10px 45px;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    background: #B25A59;
    border-radius: 80px;
    margin-top: 10px;
}
.spacher1{
    height: 180px;
}


.p-tour{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}
.p-tour h2{
    font-size: 3.6rem;
    margin-top: 50px;
}
.p-tour p{
    font-size: 2.4rem;
    width: 800px;
    margin: 20px 0;
}

.p-t-img{
    display: flex;
}
.p-t-img img {
    height: 430px;
    width: 450px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.p-t-i-box{
    text-align: center;
    height: 380px;
    width: 450px;
    margin: 20px;
}
.p-t-i-box p{
    display: inline;
}

.g-a-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.g-a-text h1{
    font-size: 4.4rem;
}
.g-a-text p{
    font-size: 2.2rem;
    width: 800px;
    margin: 30px 0;
}

.g-a-boxs{
    display: flex;
    justify-content: center;
}
.g-a-box{
    height: 400px;
    width: 600px;
    background-repeat: no-repeat;
    background-color: #7f2736bd;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
}
.g-a-box h2{
    font-size: 3.2rem;
    margin-bottom: 20px;
    color: #fff;
}
.g-a-box a{
    font-size: 2.2rem;
    text-decoration: none;
    border: 0.5px solid white;
    border-radius: 50px;
    padding: 15px 40px;
    color: #fff;
}
.bg-img1{
    background: url(../images/g-a-img1.png);
    background-repeat: no-repeat;
    background-position: 150px;
    
}
.bg-img2{
    background: url(../images/g-a-img2.png);
    background-repeat: no-repeat;
    background-position: 150px;
}